<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Astergaze">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_astergaze"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_astergaze_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.Astergaze.ChatApplication">
        <activity
            android:name="com.example.Astergaze.BottomActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_bottom" />
        <activity
            android:name="com.example.Astergaze.ChatActivity"
            android:theme="@style/ThemeDefault">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Astergaze.ContactsActivity" />
        </activity>
        <activity
            android:name="com.example.Astergaze.ContactsActivity"
            android:theme="@style/ThemeDefault">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.Astergaze.MessagesActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Astergaze.MessagesActivity"
            android:theme="@style/ThemeDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Astergaze.Register"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Astergaze.Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Astergaze.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <service android:name="com.example.Astergaze.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>